<div class="container">
  <div class="row gx-4">
    <div class="col">
      <img src="../../../assets/imagens/foto sobre.png" />
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="conteudo">
        <h4>CEO</h4>
        <h2>Davi Coutinho</h2>
        <p>
          Todos sabem que o café brasileiro é indiscutivelmente um dos melhores
          do mundo, e temos orgulho em dizer que nossos valores, visão e missão
          se encaixam na cultura brasileira através do café
        </p>

        <p>
          Depois de muito tempo apreciando café, decidimos investir em um
          negócio que traga para as pessoas a paixão e o prazer que nós temos em
          saborear o café feito com os melhores grãos, além de muito carinho e
          cuidado na confecção
        </p>

        <p>Então convidamos vocês a darem uma olhada em nossos:</p>
      </div>

      <div class="botao-pagina">
        <button type="submit" routerLink="/produtos" class="btn">
          Produtos
        </button>
      </div>
    </div>
  </div>
</div>
