<div class="container">
  <div class="row mb-3">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <img src="../../../assets/imagens/foto1-home.png" />
    </div>
  </div>

  <div class="row gx-4">
    <div class="col-xs-12 col-md-6">
      <div class="d-flex flex-column p-3 align-items-center">
        <p>
          Aqui você encontrará todos os cafés mais sofisticados e bem preparados
          que você conseguiria imaginar, com origem 100% arábica e grãos
          selecioados
        </p>
        <button type="submit" routerLink="/produtos" class="btn">
          Compre Já
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="../../../assets/imagens/foto 2 - tela home.png" />
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="../../../assets/imagens/foto 3 - tela home.png" />
    </div>
    <div class="col-xs-12 col-md-2">
      <img src="../../../assets/imagens/foto 4 - tela home.png" />
    </div>
  </div>
</div>
