img {
  width: 100%;
  object-fit: cover;
}

button {
  background-color: #86654b;
  color: white;
  width: 30%;
  align-items: center;
  text-align: center;
}

button:hover {
  background-color: #5a4332;
  color: white;
}

button:active {
  background-color: #433023;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
