<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="descricaoContato">
        <h1>Contato</h1>
        <h3>Preencha o formulário ao lado e nos conte</h3>
        <p>
          Sua informação é muito importante para nós, fique a vontade para
          colocar suas sugestões. Caso prefira, envie diretamente uma mensagem
          através do nosso email abaixo:
        </p>

        <h3>Email:</h3>
        <a>Kickoffee@gmail.com</a>
      </div>
    </div>

    <div class="col">
      <form class="formularioEmail">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            [(ngModel)]="this.nome"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="mb-3">
          <label for="assunto" class="form-label">Assunto:</label>
          <input
            type="text"
            class="form-control"
            id="assunto"
            [(ngModel)]="assunto"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="mb-3">
          <label for="mensagem" class="form-label">Mensagem:</label>
          <textarea
            class="form-control"
            aria-label="With textarea"
            id="mensagem"
            [(ngModel)]="mensagem"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </div>
        <button type="submit" class="btn">Enviar</button>
      </form>
    </div>
  </div>
</div>
